<!DOCTYPE html>
<html>
<head>

    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/jqueryUiJs")
    @Styles.Render("~/bundles/jqueryUiCss")

    @*<link rel="stylesheet" href="css/metro-bootstrap.css">src="js/metro/metro.min.js"></script>*@

    @Styles.Render("~/Content/metro-ui/css")
    @Scripts.Render("~/bundles/metro-ui")


    @*jQuery Layout plugin inspired by ExiJs border layout*@
    <link type="text/css" rel="stylesheet" href="//layout.jquery-dev.com/lib/css/layout-default-latest.css" />
    <script type="text/javascript" src="//layout.jquery-dev.com/lib/js/jquery.layout-latest.js"></script>


    @Styles.Render("~/toastrCss")
    @Scripts.Render("~/toastrJs")

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/signalR")

</head>
<body class="metro">
    
    <nav class="navbar navbar-inverse navbar-fixed-top navigation-bar">
        <div class="navigation-bar-content">
            @*<a class="element" href="">GNX Home <sup>2.0</sup>@Html.ActionLink("Home", "Index", "Home")</a>
            <span class="element-divider"></span>*@

            <a class="element" href='@Url.Action("Index", "Home")'><span class="icon-home">&nbsp;</span>GNX Home <sup>2.0</sup></a>
            <span class="element-divider"></span>

            <a class="element" href='@Url.Action("Index", "ModuleModels")'><span class="icon-tree-view">&nbsp;</span>Modules</a>
            <span class="element-divider"></span>

            <a class="element" href='@Url.Action("Contact", "Home")'><span class="icon-mail">&nbsp;</span>Address</a>
            <span class="element-divider"></span>

            <a class="element" href='@Url.Action("About", "Home")'>About GNX</a>
            <span class="element-divider"></span>

            @Html.Partial("_LoginPartial")

        </div>
    </nav>
    @*<div class="body-content container">*@
    <div class="body-content">
            @RenderBody()

        </div>
    <footer id="_footer" class="footer">
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>



    @RenderSection("scripts", required: false)
</body>
</html>
