<!DOCTYPE html>
<html>
<head>

    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <!-- Ext related css and libs-->

    @*<link href="http://localhost/jsLibs/ExtJs/5.0.0/build/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all.css" rel="stylesheet" />
    <script src="http://localhost/jsLibs/ExtJs/5.0.0/build/ext-all.js"></script>
    <link href="http://localhost/jsLibs/ExtJs/5.0.0/build/packages/ext-theme-crisp/build/ext-theme-crisp.js" rel="stylesheet" />*@


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/jqueryUiJs")
    @Styles.Render("~/bundles/jqueryUiCss")


    <link type="text/css" rel="stylesheet" href="http://layout.jquery-dev.com/lib/css/layout-default-latest.css" />
    <style type="text/css">
        html, body {
            background: #666;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            overflow: auto; /* when page gets too small */
        }

        #container {
            background: #999;
            height: 100%;
            margin: 0 auto;
            width: 100%;
            max-width: 900px;
            min-width: 700px;
            _width: 700px; /* min-width for IE6 */
        }

        .pane {
            display: none; /* will appear when layout inits */
        }
    </style>

    <script type="text/javascript" src="http://layout.jquery-dev.com/lib/js/jquery.layout-latest.js"></script>



    

    @*@Styles.Render("~/malihu-scrollerCss")
    @Scripts.Render("~/malihu-scrollerJs")*@


    @*@Styles.Render("~/bundles/gridsterCss")
    @Scripts.Render("~/bundles/gridsterJs")*@

    @Styles.Render("~/toastrCss")
    @Scripts.Render("~/toastrJs")

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    
    @*<script src="~/Scripts/malihu-scroller/jquery.mCustomScrollbar.concat.min.js"></script>
    <link href="http://manos.malihu.gr/repository/custom-scrollbar/demo/examples/style.css" rel="stylesheet" />
    <link href="http://manos.malihu.gr/repository/custom-scrollbar/demo/jquery.mCustomScrollbar.css" rel="stylesheet" />*@


    @Scripts.Render("~/bundles/signalR")


    
</head>
<body>
    <header class="navbar navbar-inverse navbar-fixed-top">
        <div id="_header" class="container">
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Just href</a></li>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li id="_contactlink">@Html.ActionLink("Modules", "Index", "ModuleModels")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </header>
    <div class="container body-content">
        @RenderBody()
        
    </div>
    <footer id="_footer" class="footer">
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>



    @RenderSection("scripts", required: false)
</body>
</html>
