<!DOCTYPE html>
<html>
<head>

    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GNX Platform</title>


    @Scripts.Render("~/bundles/jquery")
    
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/jqueryUiJs")
    @Styles.Render("~/bundles/jqueryUiCss")

    @*<link rel="stylesheet" href="css/metro-bootstrap.css">src="js/metro/metro.min.js"></script>*@

    @Styles.Render("~/Content/metro-ui/css")
    @Scripts.Render("~/bundles/metro-ui")


    @*jQuery Layout plugin inspired by ExiJs border layout*@
    <link type="text/css" rel="stylesheet" href="//layout.jquery-dev.com/lib/css/layout-default-latest.css" />
    @*<script type="text/javascript" src="//layout.jquery-dev.com/lib/js/jquery-ui-latest.js"></script>*@
    <script type="text/javascript" src="//layout.jquery-dev.com/lib/js/jquery.layout-latest.js"></script>
    @*<script type="text/javascript" src="//layout.jquery-dev.net/lib/js/jquery.layout.slideOffscreen-1.1.js"></script>*@

    @*jQuery Freewall*@
    <script type="text/javascript" src="//vnjs.net/www/project/freewall/freewall.js"></script>
    


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/signalR")

    @{

        TempData["signalRHubsUrl"] = System.Configuration.ConfigurationManager.AppSettings["signalRHubsUrl"];
        TempData["hubName"] = System.Configuration.ConfigurationManager.AppSettings["hubName"];
        TempData["roomId"] = Guid.NewGuid();

        // get shinding config
        TempData["shindigContainerUrl"] = System.Configuration.ConfigurationManager.AppSettings["shindigContainerUrl"];
    }



    @*load hubs*@
    <script src="@TempData["signalRHubsUrl"]" type="text/javascript"></script>


    <script type="text/javascript">
        // set some global variables
        var signalRHubsUrl = '@TempData["signalRHubsUrl"]';
        var hubName = '@TempData["hubName"]';
        var roomId = '@TempData["roomId"]';

        var shindigContainerUrl = '@TempData["shindigContainerUrl"]';
    </script>


    <script>

        $(document).ready(function () {


            // Init and change handlers
            $.address.init(function (event) {
                log('init: ' + serialize({
                    value: $.address.value(),
                    path: $.address.path(),
                    pathNames: $.address.pathNames(),
                    parameterNames: $.address.parameterNames(),
                    queryString: $.address.queryString()
                }));
            }).bind('change', function (event) {
                log('change: ' + serialize(event, /parameters|parametersNames|path|pathNames|queryString|value/));
                var names = $.map(event.pathNames, function (n) {
                    return n.substr(0, 1).toUpperCase() + n.substr(1);
                }).concat(event.parameters.id ? event.parameters.id.split('.') : []);
                var links = names.slice();
                var match = links.length ? links.shift() + ' ' + links.join('.') : 'Home';
                $('a').each(function () {
                    $(this).toggleClass('selected', $(this).text() == match);
                });
                $.address.title([title].concat(names).join(' | '));
            });


            $("#_body").hide();
            $("#_home").show();

            $("#_homeMenu").click(function (event) {
                history.pushState('', 'Home', '/#/home');
                $("#_about").hide("slow", function () {
                    $("#_home").show("slow", function () {
                        
                    });
                });
                
            });

            $("#_aboutMenu").click(function (event) {
                history.pushState('', 'About', '/#/about');
                $('#_home').hide("slow", function () {
                    $("#_about").show("slow");
                });
                
            });

        });

    </script>


</head>
<body class="metro">

    <header class="bg-dark" style="margin-top:-50px;">
        <nav id="nav-container" class="navigation-bar fg-lightBlue dark">
            <nav class="navigation-bar-content">
                <span class="element-divider place-right"></span>
                @Html.Partial("_LoginPartial")
                <a class="element1 pull-menu" href="#"></a>
                @*collpsible menu visible in small width, or as normal navbar when enought space provided*@
                <ul class="element-menu" style="margin-top:-50px;">
                    <li>
                        <a id="_homeMenu"  class="element" href='#'><span class="icon-home">&nbsp;</span>GNX Home <sup>v 1.0</sup></a>
                    </li>
                    <li>
                        <a class="element" href='@Url.Action("Index", "ModuleModels")'><span class="icon-tree-view">&nbsp;</span>Modules</a>
                    </li>
                    <li>
                        <a class="element" href='@Url.Action("Contact", "Home")'><span class="icon-mail">&nbsp;</span>Address</a>
                    </li>
                    <li>
                        <a id="_aboutMenu" class="element" href='#'>About GNX</a>
                    </li>
                </ul>
            </nav>
        </nav>
    </header>

    <section id="bodySection" class="body-content container">
        <div id="_body">
            @RenderBody()
        </div>

        <div id="_home" style="display: none; width: 100%; height:100%;">
            @{Html.RenderPartial("_Home");}
        </div>
        
        <div id="_about" style="display: none; width: 100%; height:100%;">
            @{Html.RenderPartial("_About");}
        </div>
    </section>

    <footer id="_footer" class="footer">
        <p>&copy; @DateTime.Now.Year - GNX Platform</p>
    </footer>

    @Scripts.Render("~/bundles/jqueryval")
    
    @Scripts.Render("~/app/Gnx")

    @RenderSection("scripts", required: false)
</body>
</html>
