@{
    ViewBag.Title = "Home Page";

    TempData["signalRHubsUrl"] = System.Configuration.ConfigurationManager.AppSettings["signalRHubsUrl"];
    TempData["hubName"] = System.Configuration.ConfigurationManager.AppSettings["hubName"];
    TempData["roomId"] = Guid.NewGuid();
}


@*load hubs*@
<script src="@TempData["signalRHubsUrl"]" type="text/javascript"></script>


<script type="text/javascript">
    // set some global variables
    var signalRHubsUrl = '@TempData["signalRHubsUrl"]';
    var hubName = '@TempData["hubName"]';
    var roomId = '@TempData["roomId"]';

</script>


@if (User.Identity.IsAuthenticated)
{

    @Scripts.Render("~/app/JakasNazwa")
    
    <div id="_HomeContent">
    </div>
}
else
{
    <div class="row">
        <div class="col-lg-7">
            <div class="_5iyx">
                Gnx Platform pomaga kontaktować się z innymi osobami i udostępniać im różne informacje i treści.
            </div>
            <img class="img" src="https://fbstatic-a.akamaihd.net/rsrc.php/v2/yx/r/pyNVUg5EM0j.png" alt="" height="195" width="537" />
        </div>
        <div class="col-lg-5">
            @Html.Partial("~/Views/Account/Login.cshtml")
        </div>
    </div>

}

