@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 


@{
    ViewBag.Title = "Home Page";

    TempData["signalRHubsUrl"] = System.Configuration.ConfigurationManager.AppSettings["signalRHubsUrl"];
    TempData["hubName"] = System.Configuration.ConfigurationManager.AppSettings["hubName"];
    TempData["roomId"] = Guid.NewGuid();
    
    // get shinding config
    TempData["shindigContainerUrl"] = System.Configuration.ConfigurationManager.AppSettings["shindigContainerUrl"];
}

@*load SignalR hubs*@
<script src="@TempData["signalRHubsUrl"]" type="text/javascript"></script>


<script type="text/javascript">
    // set some global variables
    var signalRHubsUrl = '@TempData["signalRHubsUrl"]';
    var hubName = '@TempData["hubName"]';
    var roomId = '@TempData["roomId"]';
    var shindigContainerUrl = '@TempData["shindigContainerUrl"]';
</script>

@if (User.Identity.IsAuthenticated)
{
    <div id="main">
        <section class="main">
            @{Html.RenderPartial("~/Views/Home/Welcome.cshtml");}
            @{Html.RenderPartial("~/Views/Home/App.cshtml");}
            @{Html.RenderPartial("~/Views/Home/About.cshtml");}
            @{Html.RenderPartial("~/Views/Home/Contact.cshtml");}
            @{Html.RenderPartial("~/Views/ModuleModels/_Index.cshtml");}
        </section>
    </div>
    
}
else
{
    <div class="row">
        <div class="col-lg-7">
            <div class="_5iyx">
                Gnx Platform pomaga kontaktować się z innymi osobami i udostępniać im różne informacje i treści.
            </div>
            <img class="img" src="https://fbstatic-a.akamaihd.net/rsrc.php/v2/yx/r/pyNVUg5EM0j.png" alt="" height="195" width="537" />
        </div>
        <div class="col-lg-5">
            @Html.Partial("~/Views/Account/Login.cshtml")
        </div>
    </div>

}

