@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 


@{
    ViewBag.Title = "Home Page";

    TempData["signalRHubsUrl"] = System.Configuration.ConfigurationManager.AppSettings["signalRHubsUrl"];
    TempData["hubName"] = System.Configuration.ConfigurationManager.AppSettings["hubName"];
    TempData["roomId"] = Guid.NewGuid();
}


@*load hubs*@
<script src="@TempData["signalRHubsUrl"]" type="text/javascript"></script>



<script type="text/javascript">
    // set some global variables
    var signalRHubsUrl = '@TempData["signalRHubsUrl"]';
    var hubName = '@TempData["hubName"]';
    var roomId = '@TempData["roomId"]';

</script>

<style>

    .west-toggler-collapse {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        color: #ffffff;
        font-size: 14px !important;
        height: 200px;
        width: 200px;
        /*float: left;*/
        margin-left: 10px;
        /*vertical-align: top;*/
    }

    .west-toggler-expand {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #ffffff;
        font-size: 14px !important;
        
        height: 200px;
        width: 200px;
        -left: -100px;
        /*float: left;*/
        margin-left: -150px;
        padding-top: 10px;
        /*vertical-align: bottom;*/
    }

    /*.gnx-toggler {
        font-size: 30px;
        vertical-align: top;
    }*/

    /*.ui-layout-toggler{
        background-color: #1ba1e2;
    }*/

</style>





@if (User.Identity.IsAuthenticated)
{

    @*@Scripts.Render("~/app/JakasNazwa")*@

    @*<div id="_HomeContent">
            dupa
        </div>*@

    
    
    <script type="text/javascript">

        $(document).ready(function () {
            viewport = $('#sub-content-center').layout({
                resizeWhileDragging: true
                //, initClosed: true
		        , animatePaneSizing: true
		        , spacing_open: 0
		        , spacing_closed: 0

                , west: {
                    spacing_closed: 50
                    , spacing_open: 50
                    , size: '100%'
                    , initClosed: false
                    , togglerLength_closed: '100%'
                    , togglerLength_open: '100%'

                    , togglerContent_open: '<div class="west-toggler-collapse"><span class="icon-arrow-up-3" style="font-size:22px;"/> Hide modules</div>'
                    , togglerContent_closed: '<div class="west-toggler-expand"><span class="icon-arrow-up-3" style="font-size:22px;"/> Show modules</div>'

                    //, onopen_start: $.layout.callbacks.pseudoClose
                    //, onclose_start: $.layout.callbacks.pseudoClose
                }
            });

            // inject div dynamically example
            $("<p>" + Date.now() + "</p>").appendTo(viewport.west.pane[0]);


            // open west pane
            //viewport.open('west');
            // copy background color from nav-container class
            // so JQuery Layout UI pane togglers update dynamically
            $('.ui-layout-toggler').css('background-color', $('#nav-container').css('background-color'));
            $('.west-toggler-collapse').css('color', $('#nav-container').css('color'));
            $('.west-toggler-expand').css('color', $('#nav-container').css('color'));
            
            


            //viewport.togglers.west
			//// UN-BIND DEFAULT TOGGLER FUNCTIONALITY
			//.unbind("click")
			//// BIND CUSTOM WEST METHODS
			//.click(function () {
			//    console.warn('xxx');
			//}).attr("title", "Maximize West").end()
            //;

        });

    </script>

    <div id="wrapper">
        <!-- the content -->
        <div id="sub-content-center">
            <div class="pane ui-layout-center">
                Center
                <p><a href="http://layout.jquery-dev.com/demos.html"><b>Go to the Demos page</b></a></p>
            </div>
            @*<div class="pane ui-layout-north">North</div>
            <div class="pane ui-layout-south">South</div>
            <div class="pane ui-layout-east">East</div>*@
            <div id="test1" class="pane ui-layout-west">
                dynamic custom content goes here - we need to handle moving off screen iframe content on close/hide <br/>
            </div>
        </div>

    </div>
}
else
{
    <div class="row">
        <div class="col-lg-7">
            <div class="_5iyx">
                Gnx Platform pomaga kontaktować się z innymi osobami i udostępniać im różne informacje i treści.
            </div>
            <img class="img" src="https://fbstatic-a.akamaihd.net/rsrc.php/v2/yx/r/pyNVUg5EM0j.png" alt="" height="195" width="537" />
        </div>
        <div class="col-lg-5">
            @Html.Partial("~/Views/Account/Login.cshtml")
        </div>
    </div>

}

